body {
    background-color: rgb(235, 230, 223);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav { 
    list-style-type: none;
    font-size: 12pt;
    display: flex;
    justify-content: space-evenly;
    border: dotted pink 2px;
    margin-right: 300px;
    margin-left: 300px;
    border-radius: 30px;
  }

.header1 {
    display: flex;
    justify-content: space-evenly;
    font-size: 25pt;
    margin-right: 450px;
    margin-left: 450px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 100px;
}

.header {
    border-bottom: palevioletred solid;
}
